body{
	color		: #444444;
	background-color: pink;
	font-size	: 11pt;
	margin		: 10% 35% 10% 35%;
	padding		: 0.5em;
	text-align	: center;
}
h1{
	border		: 4px double #888888;
	padding		: 0.2em;
	font-size	: 13pt;
    font-family: 'Montserrat';
    margin-bottom: 0px;
}
.main{
	border		: 4px solid #aa8888;
	padding		: 0;
}
h2{
	border-width	: 0 0 2px 0;
	border-style	: dashed;
	border-color	: #aa8888;
	margin		: 0.5em 0;
	padding		: 0.2em 1em;
	font-size	: 11pt;
}
div{
	padding		: 1.5em;
}



header, main, nav, footer {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a.current-page {
    color: pink;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size 2em;
    transition: .9s;
}

#center {
    width:45%;
    padding:1em;
    margin:0 auto;
}

#content {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
#centered {
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
    clear: both;
    text-align: center;
}

#me, #welcomeText{
    display: inline-block;
}

#footer {
    color: orange;
    font-size: 12px;
    clear: left;
}

#school-logo {
    display: block;
    margin: 0 auto;
    width : 100px;
}

table {
    margin: auto, auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#header {
    background-color: #ff00b7;
}

.table-row {
    background-color: #ff00b7;
    color: white;
}

ul {
    text-align: left;
}

.hobby {
    color: yellow;
}
