<app-sub-header></app-sub-header>

<h2>さんぷる</h2>
<form class="input-container" [formGroup]="form">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>お菓子の名前</mat-label>
      <input
        matInput
        placeholder="名前入力"
        [(ngModel)]="kashi_name"
        formControlName="kashi_name">
      <mat-hint>なんでもいいよ</mat-hint>
      <mat-error *ngIf="form.get('kashi_name').hasError('required')">必須入力です。</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>お菓子の値段</mat-label>
      <input
        matInput
        placeholder="値段"
        [(ngModel)]="kashi_price"
        formControlName="kashi_price">
      <mat-hint>単位は円だよ</mat-hint>
      <mat-error *ngIf="form.get('kashi_price').hasError('required')">必須入力です。</mat-error>
  </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="製造年月日"
        [(ngModel)]="kashi_birthDay"
        formControlName="kashi_birthDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('kashi_birthDay').hasError('required')">必須入力です。</mat-error>
    </mat-form-field>
  </p>

  <button mat-raised-button color="primary" (click)="onSubmit(this)">登録</button>
</form>

<hr />

<h3>ふつうのlist</h3>

<li *ngFor="let item of dataList">
{{ item.name }} | {{item.price}} | {{item.birthDay}} | <button (click)="onDelete(item.id)">削除</button>
</li>

<hr />

<h3>dataTable使った場合</h3>

<div style="text-align: center;" >
  <table mat-table [dataSource]="dataList" class="mat-elevation-z8" align="center">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- BirthDay Column -->
    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef> birthDay </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
