<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2>Login</h2>

<div *ngIf="!(authService.userData | async)">
  <form [formGroup]="form" (submit)="submit(form)">

  <p *ngIf="authService.error">
  <app-notify-error-box [errorMsg]="loginErrorMsg"></app-notify-error-box>
  </p>

  <div>
    <mat-icon>email</mat-icon>
    <mat-form-field>
      <input matInput placeholder="Email Address" type="text" [(ngModel)]="email" formControlName="fbemail">
      <mat-error *ngIf="fbemail.errors && fbemail.errors.required">Email Address is required</mat-error>
    </mat-form-field>
    <br />
  </div>

  <br />
  <div>
    <mat-icon>vpn_key</mat-icon>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" id="pwd" formControlName="fbpwd">
      <mat-error *ngIf="fbpwd.errors && fbpwd.errors.required">Password is required</mat-error>
      <mat-error *ngIf="fbpwd.errors && fbpwd.errors.maxlength">Enter password within 128 characters</mat-error>
    </mat-form-field>
    <br />
  </div>
  <br />

  <button mat-raised-button color="primary" (click)="signIn()">LOGIN</button>
  <br />
  <br />
  <button mat-raised-button color="primary" (click)="signUp()">SIGN-UP</button>

  </form>
</div>
<br />
<br />
<button (click)="signOut()" *ngIf="authService.userData | async">Logout</button>
