
.footer{
  padding: 10px 20px;
  text-align: center;
}
  
.note_alert{
  text-align: center;
}
button.cancel_button{
  padding: 10px;
  margin: 10px;
  padding: 10px 30px;
  border-radius:10px;
}

button.upload_button{
  padding: 10px 30px;
  margin: 10px;
  border-radius:10px;
}
