#won, #lost {
    display: none;
}

#word, #letters {
    padding: 20px 0px;
}

#man {
    margin: 20px auto;
    width: 600px;
    height: 600px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
}

#word {
    font-size: 1.8em;
}

.btn {
    padding: 7px 7px !important;
    margin: 0px 2px;
}

.hint {
    font-size: 0.6em !important;
}

.hint label {
    cursor :pointer;
    transition: .5s;
}

.hint label:before {
    display: inline-block;
    transition: 0.2s;
}

.hint label:hover {
    background: silver;
}

.hint input {
    display: none;
}

.hint .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.hint input:checked + label + .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
